Agent.json
{
  "name": "Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "return meta data file-name\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        -16
      ],
      "id": "dda6804c-d118-45fa-adc6-29582ae385d0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        176
      ],
      "id": "09c5b9b3-a087-425f-ac16-72ec1d527653",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Prompting questions about afeka college, student helper bot.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        16,
        192
      ],
      "id": "b503b37a-7970-406d-9c3b-0a8e62ea2c0a",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        368
      ],
      "id": "041ffb37-193c-40b8-a68a-0262b62ee6ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zRBrT78UMmxI3k59",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "data-afeka",
          "mode": "list",
          "cachedResultName": "data-afeka"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        400
      ],
      "id": "1fe73d5f-8425-409b-bb23-2a0778863bc2",
      "name": "Pinecone Vector Store",
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "gH2GXUrbArbQQ129",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        544
      ],
      "id": "7e46ac80-59fd-426a-b37d-439eab4111e3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zRBrT78UMmxI3k59",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -16
      ],
      "id": "85b5e533-aa7b-427b-bc43-0f4b5045a863",
      "name": "Telegram Trigger",
      "webhookId": "61d20a46-df05-49f5-9d92-e295af1ee428",
      "credentials": {
        "telegramApi": {
          "id": "3VeypTfpcVBHZOg7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -16
      ],
      "id": "3bc169f4-beec-40b8-ab26-ac9339b12d6c",
      "name": "Send a text message",
      "webhookId": "471457de-74b8-45e5-b9c6-ec7edd87f900",
      "credentials": {
        "telegramApi": {
          "id": "3VeypTfpcVBHZOg7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        160
      ],
      "id": "dafeee95-9cb8-4bb3-b502-083653f6f685",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "zRBrT78UMmxI3k59",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcd945ca-1f27-4228-a05e-da3b4782dc18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51113762101a6507d521963f3ace58e51a5dad199d84f1617c8c44f732ec78fe"
  },
  "id": "VJf2jnHv2M63Ly5m",
  "tags": []
}