Preprocces.json
{
  "name": "Preprocces",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "ae577446-fe64-4994-b079-ca11d4970f87",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wP9ESkT8nIRoIJ_56cjVpHnLxApyxJ6t",
            "mode": "list",
            "cachedResultName": "Data",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1wP9ESkT8nIRoIJ_56cjVpHnLxApyxJ6t"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -16
      ],
      "id": "fd7899f2-4f67-4296-96a2-e3b596b584fa",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXD5aWslDhAOaDS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        -16
      ],
      "id": "8cd81c31-b4bf-4e94-b9fc-480c7eb683b4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXD5aWslDhAOaDS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "data-afeka",
          "mode": "list",
          "cachedResultName": "data-afeka"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        -16
      ],
      "id": "417dcee8-1fd5-464a-a7d3-9cba226cca87",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "gH2GXUrbArbQQ129",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        224
      ],
      "id": "d622852d-c9c5-4752-ad73-0805f376f257",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zRBrT78UMmxI3k59",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        224
      ],
      "id": "f21bdc0f-6d37-4aa6-ad3c-a307a403e2b1",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff3bdfbd-c59e-4f9f-84dc-2d1ae2def781",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51113762101a6507d521963f3ace58e51a5dad199d84f1617c8c44f732ec78fe"
  },
  "id": "snGd8uShqw3mxqlU",
  "tags": []
}