Preprocces whatsapp(json).json
{
  "name": "Preprocces whatsapp(json)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "2b5d46b8-5489-442b-88c8-62dd67381bb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1mN2sDRsVmnZfqSyrMBmttoNO--la5A3i",
            "mode": "list",
            "cachedResultName": "json",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mN2sDRsVmnZfqSyrMBmttoNO--la5A3i"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -16
      ],
      "id": "b079e4eb-5e6f-4024-9025-a91e2d682016",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXD5aWslDhAOaDS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        -16
      ],
      "id": "b9cda7d6-a91d-481c-aca9-6d49a010c4fb",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXD5aWslDhAOaDS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "data-afeka",
          "mode": "list",
          "cachedResultName": "data-afeka"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        -16
      ],
      "id": "d6809734-9935-4b43-aa1d-92463d8a5f28",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "gH2GXUrbArbQQ129",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        224
      ],
      "id": "c43c5c4d-19b6-4313-b8ea-e35934f1f122",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zRBrT78UMmxI3k59",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        224
      ],
      "id": "76e60abc-a365-4ce2-bc64-02c0cb458405",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        592,
        432
      ],
      "id": "6ac410be-0acf-44bd-a5fd-c12b8e9a814a",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff38158b-ff53-486a-97ec-cd5d18ce0b0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51113762101a6507d521963f3ace58e51a5dad199d84f1617c8c44f732ec78fe"
  },
  "id": "aGhcJRZRUpJE2ZDG",
  "tags": []
}